{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}iLanding App{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'ilanding/assets/img/favicon.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
              rel="stylesheet" />
        <link href="{% static 'ilanding/assets/vendor/bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'ilanding/assets/css/main.css' %}" rel="stylesheet" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% if not hide_navbar %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'users:home' %}">AcousticAbsorptionCalculator</a>
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'projects:project_list' %}">Projekty</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'plans:plan_list' %}">Plany</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'rooms:room_list' %}">Pokoje</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:edit_profile' %}">Ustawienia konta</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">Wyloguj się</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %}
        {% endblock %}
        <main id="main">
            {% block content %}{% endblock %}
        </main>
        {% block footer %}{% endblock %}
        <script src="{% static 'ilanding/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'ilanding/assets/js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
