{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}iLanding App{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'ilanding/assets/img/favicon.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
              rel="stylesheet" />
        <link href="{% static 'ilanding/assets/vendor/bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'ilanding/assets/css/main.css' %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
              rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
              rel="stylesheet" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header id="header" class="sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'users:home' %}">{% trans "Acoustic Absorption Calculator" %}</a>
                        <button class="navbar-toggler mobile-nav-toggle" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse navmenu" id="navbarNav">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'project_list' %}active{% endif %}"
                                       href="{% url 'projects:project_list' %}">{% trans "Projects" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'plan_list' %}active{% endif %}"
                                       href="{% url 'plans:plan_list' %}">{% trans "Plans" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'room_list' %}active{% endif %}"
                                       href="{% url 'rooms:room_list' %}">{% trans "Rooms" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'user-logs' %}active{% endif %}"
                                       href="{% url 'user-logs:user-logs' %}">{% trans "Account History" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'edit_profile' %}active{% endif %}"
                                       href="{% url 'users:edit_profile' %}">{% trans "Account Settings" %}</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">{% trans "Log Out" %}</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <main id="main">
            {% block content %}{% endblock %}
        </main>
        <div class="scroll-top"
             style="display: none;
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    cursor: pointer">⬆️</div>
        {% block footer %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script src="{% static 'ilanding/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'ilanding/assets/js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
